doctype html
html
  head
    title
    style.
        table {max-width: "50%"; border-collapse: collapse}
        table, th, td { border: 1px solid black}
        td { padding: 15px; min-width: max-content}
            
  body
    h3 Applicant Details
    table
        tr 
            td Applicant Name
            td= name
        tr
            td Contact Number
            td= contact
        tr
            td Apply Date
            td= date